

body {
  padding-top: 20px;
}

  img {
  width: 30%;
  margin-left: 10%
}

.jumbotron p {
  font-size: 20px;
  float: left;
  margin-right: 40%;
  margin-top: 10%;
}
 .text{
  padding:30px;
  margin: 50px
  float:left;
  color: grey;
}

.highlight {
  color: grey;
  font-weight: bold;
}
.epicodus h3 {
  font-style: italic;
  font-size: 20px;
}
.hobbies h3 {
  font-style: italic;
  font-size: 20px;
}
